{# @var links \KevinPapst\AdminLTEBundle\Model\NavBarUserLink[] #}
{# @var showProfileLink bool #}
{# @var showLogoutLink bool #}
{% import "@AdminLTE/Macros/default.html.twig" as macro %}
<li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ macro.avatar(user.avatar, user.username, 'user-image') }}
        <span class="hidden-xs">{{ user.name }}</span>
    </a>
    <ul class="dropdown-menu">
        <!-- User image -->
        <li class="user-header">
            {{ macro.avatar(user.avatar, user.username) }}
            <p>
                <b>{{ user.name }}</b><br />
                ({{ user.title }})
                <small>{{ 'Member since %date%'|trans({'%date%': user.memberSince|date('m.Y') }, 'AdminLTEBundle') }}</small>
            </p>
        </li>
        {#
        {% if links %}
            <!-- Menu Body -->
            <li class="user-body">
                {% for link in links %}
                    <div class="col-xs-4 text-center">
                        <a href="{{ path(link.path|route_alias, link.parameters) }}">{{ link.title }}</a>
                    </div>
                {% endfor %}
            </li>
        {% endif %}
        {% if showLogoutLink or showProfileLink %}
            <!-- Menu Footer-->
            <li class="user-footer">
                {% if showProfileLink %}
                    <div class="pull-left">
                        <a href="{{ path('adminlte_profile'|route_alias, {'id' : user.identifier}) }}"
                           class="btn btn-default btn-flat">{{ 'Profile'|trans({}, 'AdminLTEBundle') }}</a>
                    </div>
                {% endif %}
                {% if showLogoutLink %}
                    <div class="pull-right">
                        <a href="{{ logout_path() }}"
                           class="btn btn-default btn-flat">{{ 'Sign out'|trans({}, 'AdminLTEBundle') }}</a>
                    </div>
                {% endif %}
            </li>
        {% endif %}
        #}
        <li class="user-footer">
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <div class="pull-left">
                <a class="btn btn-warning btn-flat" href="{{ path('dashboard', {'_switch_user': '_exit'}) }}">{{ 'generic.exit_impersonation'|trans }}</a>
            </div>
            {% endif %}
            <div class="pull-right">
                <a href="{{ logout_path() }}"
                   class="btn btn-default btn-flat">{{ 'Sign out'|trans({}, 'AdminLTEBundle') }}</a>
            </div>
        </li>
    </ul>
</li>
