{% extends "@AdminLTE/layout/default-layout.html.twig" %}

{% block logo_mini %}{{ project_name_short|raw }}{% endblock %}
{% block logo_large %}{{ project_name|raw }}{% endblock %}

{% block page_title %}{{ project_name|raw }}{% endblock %}
{% block page_subtitle %}{% endblock %}

{%- block title -%}{{ block('page_title') }}{%- endblock -%}

{% block footer %}
    <footer class="main-footer">
        {# To the right #}
        <div class="pull-right hidden-xs">
            Version: {{ version }}
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy;{{ "now"|date("Y") }} <a href="https://cwd.at">cwd.at GmbH</a>.</strong> All rights reserved.
    </footer>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap-switch/bootstrap-switch.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/select2/select2-bootstrap.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var translations = {
            confirm_delete: '{{ 'generic.confirm_delete'|trans|raw }}'
        };
    </script>
    <script type="text/javascript" src="{{ asset('vendor/bootstrap-switch/bootstrap-switch.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/bootbox/bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/symfony-collection/jquery.collection.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/select2/select2.full.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/select2/i18n/'~app.request.locale~'.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script type="text/javascript" src="{{ asset('main.js') }}"></script>
{% endblock %}