<script type="text/javascript">

    $('.collection').collection({
        allow_duplicate: true,
        prefix: $(this).attr('data-prefix')
    });

    /*
    $('.collection').each(function(){
        var $order = false;
        var $prefix = 'collection';

        if ($(this).attr('data-order')) {
            $order = true;
        }

        if ($(this).attr('data-prefix')) {
            $prefix = $(this).attr('data-prefix');
        }

        $(this).collection({
            allow_up: $order,
            allow_down: $order,
            add_at_the_end: true,
            hide_useless_buttons: true,
            fade_in: true,
            fade_out: true,
            prefix: $prefix,
            up: '<a href="#" class="pull-right" style="margin-left:5px"><i class="fas fa-2x fa-arrow-square-up"></i></a>',
            down: '<a href="#" class="pull-right" style="margin-left:5px"><i class="fas fa-2x fa-arrow-square-down"></i></a>',
            add: '<a href="#"><i class="far fa-2x fa-plus-square"></i></a>',
            remove: '<a href="#"><i class="far fa-2x fa-minus-square"></i></a>',
            duplicate: '<a href="#">[ # ]</a>',
            after_add: function(collection, element) {
                $(element).find('input.bootstrap-switch').bootstrapSwitch();
                setInterval(function() { $(element).find('select.select2').select2(); }, 200);
                return true;
            }
        });
    });
    */
</script>
