{% extends "@AdminLTE/layout/form-theme.html.twig" %}

{% block _group_roles_widget %}
    {% apply spaceless %}
        {% set attr = attr|merge({'class': (attr.class|default('') ~ ' row')|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="col-md-4 col-sm-6">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
    {% endapply %}
{% endblock %}

{% block collection_widget %}
    {% apply spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
            {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
        {% endif %}
        {% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
        {% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
        {% set attr = attr|merge({'data-name-prefix': full_name}) %}
        {{ block('form_widget') }}
    {% endapply %}
{% endblock collection_widget %}
